/* Modal overlay styles */
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000; /* Adjust the z-index value as needed to ensure the modal is on top */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal styles */
.modal {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 30rem;
  height: fit-content;

  position: relative;
  z-index: 1001; /* Ensure modal content is on top of overlay */
}

.modal_content {
  margin-bottom: 2rem;
}
.input_group {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  margin-top: 1rem;
}
/* Close button styles */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

.button_UI {
  border: 2px solid gold;
  justify-self: center;
  margin: auto;
  width: 8rem;
  text-align: center;
  border-radius: 1rem;
  margin-top: 2rem;
  font-family: Lato;
  font-size: 1rem;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  color: white;
  background-color: rgba(0, 109, 156, 1);
}

.button_UI:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.list {
  max-height: 20rem; /* Adjust the maximum height as needed */
  overflow-y: auto;
  width: 72%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  list-style: none;
  margin: auto;
  padding-right: 1rem;
  margin-top: 2rem;
}

.listItems {
  text-align: center;
  border-radius: 30px;
  border: 1px solid black;
  color: white;
  background-color: rgb(184, 159, 17);
}

.listItems:hover {
  background-color: var(--primary-color);
  border: 2px solid gold;
  cursor: pointer;
}
