.footer {
  position: relative;
  width: 100%;
}

.bottomVector1 {
  position: absolute;
  top: 0%;
  width: 100%;
}
.bottomVector2 {
  position: absolute;
  top: 10%;
  width: 100%;
}

.footerInfo {
  box-sizing: border-box;
  /* margin-top: 10rem; */
  width: 100%;
  padding: 2rem 0rem;
  height: 60rem;
  background-color: white;
}

.footerInfo2 {
  box-sizing: border-box;
  margin-top: 14rem;
  width: 100%;
  padding: 6rem;
  height: 50rem;
  background-color: var(--primary-color);
  z-index: 999;
  position: relative;
}

.footerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  height: 100%;
  color: #b8f0fd;
}

.logo_and_socials {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
.footerLogo {
  width: 28.2rem;
  height: 3.8rem;
  font-family: Lato;
  font-size: 4.3rem;
  font-weight: 700;
  line-height: 2.8rem;
  letter-spacing: 0em;
  text-align: left;
}

.followUs {
  margin-top: 2rem;
  width: 13.1rem;
  height: 2rem;
  font-family: Lato;
  font-size: 3rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: left;
}

.socialIcons {
  display: flex;

  column-gap: 1rem;
}

.copyrights {
  margin-top: 15rem;
  display: flex;
  column-gap: 1.5rem;
}

.copyrightText {
  width: 22rem;
  height: fit-content;
  font-family: Montserrat;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 3.6prem;
  letter-spacing: 0em;
  text-align: left;
  align-self: center;
}

.usefulLinks {
  margin-top: 0.2rem;
  width: 16.5rem;
  height: fit-content;
  font-family: Lato;
  font-size: 3rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: left;
}

.usefulLinksGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4rem;
  margin-top: 3rem;
}

.gridColumn {
  display: grid;
  grid-template-columns: 1fr;
  height: fit-content;
}

.gridText {
  margin-bottom: 3rem;
  width: fit-content;
  height: fit-content;
  font-family: Lato;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.6rem;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(184, 240, 253, 0.8);
}

.contactInfo {
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.contact {
  margin-bottom: 3rem;
  width: fit-content;
  height: fit-content;
  font-family: Lato;
  font-size: 3rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: left;
}

.number {
  width: fit-content;
  height: fit-content;
  font-family: Lato;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3.1rem;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(147, 214, 234, 1);
}

.inquiry {
  display: flex;
}

.inquiryText {
  height: fit-content;
  width: fit-content;
  margin-top: 0rem;
  margin-left: 1rem;
  display: inline-block;
  font-family: Lato;
  font-size: 3rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: left;
}

.email {
  height: fit-content;
  width: fit-content;
  margin-top: 1rem;
  margin-left: 5rem;
  font-family: Lato;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.6rem;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(184, 240, 253, 0.8);
}

.findUs {
  margin-top: 10rem;
  display: flex;
}
