:root {
  --primary-color: #006d9c;
  --secondary-color: #00add2;
  --background-color: #b6f2ff;

  font-weight: 700;
}

body {
  margin: 0;
  font-family: "Lato", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 1.6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  font-size: 62.5%;
}

.heading1 {
  color: var(--primary-color);

  font-size: 43px;
}

.heading2 {
  color: var(--primary-color);
  font-weight: 800;
  font-size: 60px;
}

.App {
  height: 100vh;
}

.image {
  max-width: 100%;
  max-height: 100%;
}
